@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 400PX;
  text-align: center;
  background: gray;
}

.keypade {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0PX;
  grid-auto-rows: minmax(60PX, auto);
}

input[type="text"] {
  height: 40px;
  width: 396PX;
  background-color: #708090;
  border: 0PX;
  color: #ffffff;
  text-align: right;
  font-size: 20PX;
}

.zero {
  grid-column: 1/3;
}

button {
  margin: 0.5PX;
  border: none;
  background: lightgray;
}

.highlight {
  background: #ff7518;
}
